body: 
	font-family: sans-serif;
	text-align: center;
	padding: 20px;
;

#reader: 
	width: 100%; 
	max-width: 400px; 
	margin: 0 auto
;

#result: 
	margin-top: 20px;
	font-weight: bold;
	word-break: break-all;
;
